@supports (backdrop-filter: blur(32px) saturate(180%)) {
    .acrylic {
        backdrop-filter: blur(32px) saturate(180%);
        background: none !important;
    }
}

@supports (-webkit-backdrop-filter: blur(32px) saturate(180%)) {
    .acrylic {
        backdrop-filter: blur(32px) saturate(180%);
        -webkit-backdrop-filter: blur(32px) saturate(180%);
        background: none !important;
    }
}